<ion-view view-title="{{friend.name}}">
    <ion-content has-bouncing="true" class="has-header has-footer">
        <div ng-repeat="message in chat.conversation.slice().reverse()" class="message-wrapper">
            <div ng-if="message.isSender" class="message_container">
                <div class="bubble-right" id="{{'anchor' + $index}}">
                    <div class="message white" ng-bind-html="message.text">
                    </div>
                </div>
                <img class="chatPicture right" ng-src="{{'img/user/user_' + currentPerson.id + '.jpg'}}">
            </div>
            <div ng-if="!message.isSender" class="message_container">
                <div class="bubble-left" id="{{'anchor' + $index}}">
                    <div class="message black" ng-bind-html="message.text">
                    </div>
                </div>
                <img class="chatPicture left" ng-src="{{'img/user/user_' + friend.id + '.jpg'}}">
            </div>
        </div>
    </ion-content>
    <ion-footer-bar id="footer_bar" class="bar-stable" ng-click="notImplemented()">
        <label class="item-input-wrapper" ng-click="notImplemented()">
            <input type="text" placeholder="Nachricht" ng-disabled="true" ng-click="notImplemented()">
        </label>
        <div class="footer-btn-wrap">
            <button class="button button-icon icon ion-ios-paperplane footer-btn">
            </button>
        </div>
    </ion-footer-bar>
</ion-view>
