<ion-view view-title="{{friend.name}}">
    <ion-content has-bouncing="true" class="has-header has-footer">
        <div ng-repeat="message in chat.conversation.slice().reverse()" class="message-wrapper">
            <div ng-if="message.isSender" >
                <div class="bubble-right" id="{{'anchor' + $index}}">
                    <div class="message white" style="margin:10px; " ng-bind-html="message.text">
                    </div>
                </div>
                <img class="chatPicture right" ng-src="{{'img/user/user_' + currentPerson.id + '.jpg'}}">
            </div>
            <div ng-if="!message.isSender" style="clear:both;">
                <div class="bubble-left" id="{{'anchor' + $index}}">
                    <div class="message black" style="margin:10px;" ng-bind-html="message.text">
                    </div>
                </div>
                <img class="chatPicture left" ng-src="{{'img/user/user_' + friend.id + '.jpg'}}">
            </div>
            
        </div>
    </ion-content>
    <form name="sendMessageForm" ng-submit="sendMessage(sendMessageForm)" novalidate>
        <ion-footer-bar class="bar-stable item-input-inset message-footer">
            <label class="item-input-wrapper">
                <textarea id="inputField" ng-model="input.message" value="" placeholder="Nachricht" required minlength="1" maxlength="1500"></textarea>
            </label>
            <div class="footer-btn-wrap">
                <button class="button button-icon icon ion-android-send footer-btn" type="submit" ng-disabled="!input.message || input.message === ''">
                </button>
            </div>
        </ion-footer-bar>
    </form>
</ion-view>
