<ion-view view-title="{{currentPortfolio.project_title}}">
    <ion-content class="padding" overflow-scroll="true" ng-switch="currentPortfolio.banner.type">
        <img ng-switch-when="picture" class="portfolio-image" ng-src="{{currentPortfolio.banner.url}}">
        <iframe ng-switch-when="video" width="100%" height="185" ng-src="{{prepareUrlForIframe(currentPortfolio.banner.url)}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <div ng-repeat="paragraph in currentPortfolio.paragraphs" ng-switch on="paragraph.type">
            <h2 ng-show="paragraph.title">{{paragraph.title}}</h2>
            <p>
                {{paragraph.content}}
            </p>
        </div>
        <div class="list">
            <h2>Erstellt von</h2>
            <a class="item item-thumbnail-left" href="#/tab/portfolios/{{currentPerson.id}}">
                <img ng-src="img/user/user_{{currentPerson.id}}.jpg">
                <h2>{{currentPerson.name}}</h2>
                <p>{{currentPerson.studies}}</p>
                <p>{{currentPerson.email}}</p>
            </a>
        </div>
        <br>
    </ion-content>
</ion-view>
