<ion-view view-title="{{currentPerson.name}}">
    <ion-content>
        <div class="">
            <div class="list">
                <a class="item item-thumbnail-left" href="#">
                    <img ng-src="img/user/user_{{currentPerson.id}}.jpg">
                    <h2>{{currentPerson.name}}</h2>
                    <p>{{currentPerson.studies}}</p>
                    <p>{{currentPerson.email}}</p>
                    <p>{{currentPerson.phone}}</p>
                </a>
                <div class="row">
                    <div class="col centered" ng-click="notImplemented()"><i class="icon portfolio-social ion-at"></i></div>
                    <div class="col centered" ng-click="notImplemented()"><i class="icon portfolio-social ion-ios-telephone"></i></div>
                    <div class="col centered" ng-click="notImplemented()"><i class="icon portfolio-social ion-social-facebook"></i></div>
                    <div class="col centered" ng-click="notImplemented()"><i class="icon portfolio-social ion-social-twitter"></i></div>
                    <div class="col centered" ng-click="notImplemented()"><i class="icon portfolio-social ion-social-vimeo"></i></div>
                </div>
            </div>
            <div></div>
            <hr style="margin:-10px 20px;">
            <h3 class="centered">Portfolio von {{getFirstName(currentPerson.name)}}</h3>
            <div class="list">
                <a class="item item-thumbnail-left" ng-repeat="portfolio in portfolios | filter:{creator_id:currentPerson.id}" href="#/tab/portfolios/project/{{portfolio.id}}">
                    <img ng-src="{{portfolio.picture}}">
                    <h2>{{portfolio.project_title}}</h2>
                    <p>{{portfolio.project_tags}}</p>
                    <p>{{currentPerson.name}}</p>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
