<ion-view view-title="Portfolios">
    <ion-content>
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Suche" ng-model="searchText">
        </label>
        <div class="list">
            <a class="item item-thumbnail-left" ng-repeat="portfolio in portfolios | filter:searchText" href="#">
                <img ng-src="{{portfolio.picture}}">
                <h2>{{portfolio.project_title}}</h2>
                <p>{{portfolio.project_tags}}</p>
                <p>{{portfolio.name}}</p>
            </a>
            <a class="item" ng-hide="(portfolios | filter:searchText).length">
                <p>Keine Treffer</p>
            </a>
        </div>
    </ion-content>
</ion-view>
