<ion-view view-title="{{currentPortfolio.project_title}}">
    <ion-nav-buttons side="secondary">
        <button ng-if="currentPerson.id != 7" class="button button-clear button-positive" ng-click="toggleFavorite()">
            <i class="icon" ng-class="favorited ? 'ion-ios-star' : 'ion-ios-star-outline'"></i>
        </button>
    </ion-nav-buttons>
    <ion-content class="padding" overflow-scroll="true" ng-switch="currentPortfolio.banner.type">
        <ion-slide-box>
            <ion-slide ng-repeat="picture in currentPortfolio.banner" ng-switch on="picture.type">
                <img ng-switch-when="picture" class="portfolio-image" ng-src="{{picture.url}}">
                 <iframe ng-switch-when="video" width="100%" height="185" src="https://www.youtube.com/embed/1rz8rXfnPWA" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </ion-slide>
        </ion-slide-box>
        
        <!--<iframe ng-switch-when="video" width="100%" height="185" ng-src="{{prepareUrlForIframe(currentPortfolio.banner.url)}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
        <div class="16px-spacer">&nbsp;</div>
        <div ng-repeat="paragraph in currentPortfolio.paragraphs" ng-switch on="paragraph.type">
            <h2 ng-show="paragraph.title">{{paragraph.title}}</h2>
            <p>
                {{paragraph.content}}
            </p>
        </div>
        <div class="list" ng-if="currentPerson.id != 7">
            <h2>Erstellt von</h2>
            <a class="item item-thumbnail-left" href="#/tab/portfolios/{{currentPerson.id}}">
                <img ng-src="img/user/user_{{currentPerson.id}}.jpg">
                <h2>{{currentPerson.name}}</h2>
                <p>{{currentPerson.studies}}</p>
                <p>{{currentPerson.email}}</p>
            </a>
        </div>
        <br>
    </ion-content>
</ion-view>
