<ion-view view-title="Projekt erstellen">
    <ion-content>
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Titel</span>
                <input ng-model="newEntry.title" type="text" placeholder="Titel">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Info</span>
                <input ng-model="newEntry.content_long" type="text" placeholder="Info">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Von</span>
                <input ng-model="newEntry.from" type="date" placeholder="von">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Bis</span>
                <input ng-model="newEntry.to" type="date" placeholder="bis">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Themenfelder</span>
                <input type="text" placeholder="Themenfelder">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Bilder</span>
                <input type="text" placeholder="Bilder">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">URL</span>
                <input ng-model="newEntry.url" type="url" placeholder="URL">
            </label>
        </div>
    </ion-content>
</ion-view>
