<ion-view view-title="{{marketEntry.title}}">
    <ion-content>
        <div class="padding">
            <h4>Info</h4>
            <p>{{marketEntry.content_long}}</p>
            <div class="1px-divider" style="height:1px;"></div>
            <h4>Suche nach</h4>
            <p ng-repeat="tag in marketEntry.tags" class="tag_pill">{{tag}}</p>
            <div class="1px-divider" style="height:1px;"></div>
            <h4>Zeitraum</h4>
            <p>{{marketEntry.timespan}}</p>
            <div class="1px-divider" style="height:1px;"></div>
            <h4>Erstellt von</h4>
            <div class="list">
                <a class="item item-thumbnail-left" href="#">
                    <img id="portrait" ng-src="img/user/user_{{currentPerson.id}}.jpg">
                    <h2>{{currentPerson.name}}</h2>
                    <p>{{currentPerson.studies}}</p>
                    <p>{{currentPerson.email}}</p>
                </a>
            </div>
            <div class="1px-divider" style="height:1px;"></div>
            <button class="button button-positive centered-button-75 icon-left ion-email" ng-click="gotoMessage()">
                Kontaktiere {{getFirstName(currentPerson.name)}}
            </button>
        </div>
    </ion-content>
</ion-view>
