<ion-view view-title="Neue Nachricht">
    <ion-nav-buttons side="secondary">
        <button class="button button-clear button-positive" ng-click="notImplemented()">
            Senden
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <input type="text" disabled value="An: {{marketEntry.creator}}">
            </label>
            <label class="item item-input">
                <input type="text" disabled value="Betreff: {{marketEntry.title}}">
            </label>
            <label class="item item-input">
                <textarea rows="10" placeholder="Gib deine Nachricht ein"></textarea>
            </label>
        </div>
    </ion-content>
</ion-view>
