<ion-view view-title="{{currentFilter.name}}">
    <ion-nav-buttons side="secondary">
        <button ng-hide="{{currentID == 3}}" class="button button-clear button-positive" ng-click="resetFilter()">
            Reset
        </button>
    </ion-nav-buttons>
    <ion-content>
        <label ng-show="currentFilter.id == 1" class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Suche" ng-model="searchText">
        </label>
        <div ng-repeat="filter in currentFilter.items | filter:searchText">
            <div ng-if="filter.isDivider" class="item item-divider">
                {{filter.name}}
            </div>
            <ion-toggle ng-model="filter.active" ng-if="!filter.isDivider" toggle-class="toggle-positive">
                {{filter.name}}
            </ion-toggle>
        </div>
        <div ng-show="currentID == 3" class="list">
            <label class="item item-input item-stacked-label" style="border-top:0px;">
                <span class="input-label">Von</span>
                <input type="date" ng-model="filterDates.from" placeholder="Von">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Bis</span>
                <input type="date" ng-model="filterDates.to" placeholder="Bis">
            </label>
        </div>

    </ion-content>
</ion-view>
