<ion-view view-title="Portfolios">
    <ion-nav-buttons side="secondary">
        <button class="button button-clear button-positive" ng-switch="showGrid" ng-show="markCurrentTab('Portfolios')" ng-click="handleTopButton()">
            <i ng-switch-when="false" class="icon ion-ios-keypad-outline"></i>
            <i ng-switch-when="true" class="icon ion-ios-list-outline"></i>
        </button>
    </ion-nav-buttons>
    <div class="tabs-striped tabs-top tabs-color-positive">
        <div class="tabs">
            <a class="tab-item" ng-class="markCurrentTab('Portfolios') ? 'active':''" ng-click="setCurrentTab('Portfolios')">Portfolios</a>
            <a class="tab-item" ng-class="markCurrentTab('Personen') ? 'active':''" ng-click="setCurrentTab('Personen')">Personen</a>
            <a class="tab-item" ng-class="markCurrentTab('Filter') ? 'active':''" ng-click="setCurrentTab('Filter')">Filter</a>
        </div>
    </div>
    <ion-content ng-switch on="currentTab">
        <label ng-hide="markCurrentTab('Filter')" class="item item-input searchbar">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Suche" ng-model="searchText">
        </label>
        <div class="list">
            <div class="row" ng-repeat="tripples in (portfolios.length/3 | PortfolioRows ) " ng-switch-when="Portfolios" ng-if="showGrid">
                <div ng-repeat="portfolio in (portfolios | filter:searchText).slice(3*$index, 3*$index + 3)" class="col col-33">
                	<a href="#/tab/portfolios/project/{{portfolio.id}}"><img ng-src="{{portfolio.picture}}" style="width:100%;"></a>
                </div>
            </div>
            <a class="item item-thumbnail-left" ng-if="!showGrid" ng-switch-when="Portfolios" ng-repeat="portfolio in portfolios | filter:searchText" href="#/tab/portfolios/project/{{portfolio.id}}">
                <img ng-src="{{portfolio.picture}}">
                <h2>{{portfolio.project_title}}</h2>
                <p>{{portfolio.project_tags}}</p>
                <p>{{people[portfolio.creator_id].name}}</p>
            </a>
            <a class="item" ng-switch-when="Portfolios" ng-hide="(portfolios | filter:searchText).length">
                <p>Keine Treffer</p>
            </a>
            <a class="item item-thumbnail-left" ng-switch-when="Personen" ng-repeat="person in people | filter:searchText | orderBy:'name'" href="#/tab/portfolios/{{person.id}}">
                <img ng-src="{{person.face}}">
                <h2>{{person.name}}</h2>
                <p>{{person.studies}}</p>
            </a>
            <a class="item" ng-switch-when="Personen" ng-hide="(people | filter:searchText).length">
                <p>Keine Treffer</p>
            </a>

            <ion-list ng-switch-when="Filter">
            <h2 class="padding skip-nav-bar-margin">
                Projekte anzeigen von:
            </h2>
            <div ng-repeat="filter in filters">
                <ion-item class="item-stable item-icon-right neg-6px-margin" ng-click="toggleFilter(filter)" ng-class="{active: filter.active}">
                    {{filter.name}} &nbsp; <i class="icon icon-accessory" ng-class="filter.active ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'"></i>
                </ion-item>
                <ion-item class="item-accordion padding-25px" ng-repeat="item in filter.items" ng-show="filter.active">
                    {{item.name}}
                    <label class="toggle toggle-positive">
                        <input type="checkbox" checked>
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </ion-item>
            </div>
        </ion-list>
        </div>
    </ion-content>
</ion-view>
