<ion-view view-title="Marktplatz">
    <ion-nav-buttons side="secondary">
        <button class="button button-clear button-positive" ng-click="gotoCreateNew()">
            <i class="icon ion-ios-plus-empty"></i>
        </button>
    </ion-nav-buttons>
    <div class="tabs-striped tabs-top tabs-color-positive">
        <div class="tabs">
            <a class="tab-item" ng-class="showFilters ? '':'active'" ng-click="displayFilter(false)">Alle Projekte</a>
            <a class="tab-item" ng-class="showFilters ? 'active':''" ng-click="displayFilter(true)">Filter</a>
        </div>
    </div>
    <ion-content>
        <br>
        <br>
        <ion-list ng-hide="showFilters">
            <ion-item class="item-remove-animate item item-icon-right item-text-wrap " ng-repeat="marketEntry in marketEntries" type="item-text-wrap" href="#/tab/market/{{marketEntry.id}}">
                <h2>{{marketEntry.title}}</h2>
                <p>{{marketEntry.content}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
                <ion-option-button class="button-assertive" ng-click="remove(marketEntry)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
        <ion-list ng-show="showFilters">
            <h5 class="padding">
                Projekte anzeigen von:
            </h5>
            <div ng-repeat="filter in filters">
                <ion-item class="item-stable item-icon-right" ng-click="toggleFilter(filter)" ng-class="{active: filter.active}">
                    {{filter.name}} &nbsp; <i class="icon icon-accessory" ng-class="filter.active ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'"></i>
                </ion-item>
                <ion-item class="item-accordion" ng-repeat="item in filter.items" ng-show="filter.active">
                    {{item.name}}
                    <label class="toggle toggle-positive">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
