<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Marktplatz" icon-off="ion-noun_31887_cc" icon-on="ion-noun_31887_cc" href="#/tab/market">
    <ion-nav-view name="tab-market"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Profil" icon-off="ion-noun_17237" icon-on="ion-noun_17237" href="#/tab/account"> 
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Portfolios" icon-off="ion-noun_36217_cc" icon-on="ion-noun_36217_cc" href="#/tab/portfolios">
    <ion-nav-view name="tab-portfolios"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Nachrichten" icon-off="ion-noun_12035_cc" icon-on="ion-noun_12035_cc" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>



</ion-tabs>
