<ion-view view-title="Marktplatz">
    <ion-nav-buttons side="secondary">
        <button class="button button-clear button-positive" ng-click="doSomething()">
            <i class="icon ion-ios-plus-empty"></i>
        </button>
    </ion-nav-buttons>
    <div class="tabs-striped tabs-top">
        <div class="tabs">
            <a class="tab-item" href="#">
                Alle Projekte
            </a>
            <a class="tab-item active" href="#">
              Filter
            </a>
        </div>
    </div>
    <ion-content>
        <br>
        <br>
        to be implemented
    </ion-content>
</ion-view>
